* {

  box-sizing: border-box;

  margin: 0;

  padding: 0;

}



*:before, *:after {

  box-sizing: border-box;

}



html{

  scroll-behavior: smooth;

}



.header-paralax {

  background-image: url('../img/frenteCerestLarge.jpg');

  background-size: cover;

  width: 100vw;

  height: 100vh;

  position: fixed;



}



.header-paralax h1 {

  text-align: center;

  color: white;

  text-shadow: 2px 3px 1px #000;

  font-family: 'Raleway', sans-serif;

  letter-spacing: 20px;

  font-size: 50px;

  padding: 210px 0;

}



main {

  background: white;

  position: relative;

  top: 600px;

  font-family: 'Raleway', sans-serif;

  margin: auto;

}



main .content {

  margin: auto;

  padding: 0 20px;

 }



main h1 {

  padding: 50px 0;

  text-align: left;

}



main p {

  padding: 20px 0;

  text-align: justify;

  margin: 0;

}



.menu{

  color: #dbe4d2;

}



.zoom {

  transition: transform .2s; /* Animation */

  margin: 0 auto;

}



.zoom:hover {

  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}



.equipe{

  width:45% !important;

  height:250px !important;

}



.row {

  display: -ms-flexbox; /* IE10 */

  display: flex;

  -ms-flex-wrap: wrap; /* IE10 */

  flex-wrap: wrap;

  padding: 0 4px;

}



/* Create four equal columns that sits next to each other */

.column {

  -ms-flex: 33.3%; /* IE10 */

  flex: 33.3%;

  max-width: 33.3%;

  padding: 0 4px;

}



.column img {

  margin-top: 8px;

  vertical-align: middle;

  width: 100%;

}



/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {

  .column {

  -ms-flex: 50%;

  flex: 50%;

  max-width: 50%;

  }

}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {

  .column {

  -ms-flex: 100%;

  flex: 100%;

  max-width: 100%;

  }

}



.row .column p{

  margin: 0 auto;

  line-height: 1px;

  text-align: justify;

}



.atendimento{

  align-content: center;

  align-self: center;

}



.descricaoImagem{

  font-size: 0.9em;

}



.itensAtendimento{

  text-align: left;

  margin-left: 10%;

}



.abrangencia{

  width: 80%;

}



.text-container{

  display:none;

}



.scrollToTop{

  position: fixed;

  bottom: 2em;

  right: 2em;

  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.3);

  font-size: 12px;

  padding: 1em;

  display: none;  

  color: black;

}

.navbar .in .nav li {

   display: block;

   float: none;

   width:100%;

}



.logo img{

  max-width: 220px !important;

  height: 150px !important;

  width: auto;

  height: auto;

}





.just-padding {

}



.just-padding a{

  color: black;

}



.list-group.list-group-root {

  padding: 0;

  overflow: hidden;

}



.list-group.list-group-root .list-group {

  margin-bottom: 0;

}



.list-group.list-group-root .list-group-item {

  border-radius: 0;

  border-width: 1px 0 0 0;

}



.list-group.list-group-root > .list-group-item:first-child {

  border-top-width: 0;

}



.list-group.list-group-root > .list-group > .list-group-item {

  padding-left: 30px;

}



.list-group.list-group-root > .list-group > .list-group > .list-group-item {

  padding-left: 45px;

}



.list-group-item .glyphicon {

  margin-right: 5px;

}



.membros li{

  padding-left: 30px;

  display: table;

}



.conselho-gestor-cerest ul{

  padding: 0px;

}



a.list-group-item{

  text-decoration: none;

}



.fa-instagram {

  background: #125688;

  color: white;

}



.fa-linkedin {

  background: #007bb5;

  color: white;

}



.fa-google {

  background: #dd4b39;

  color: white;

}



.fa:hover {

  opacity: 0.7;

}



.fa {

  padding: 20px;

  font-size: 30px;

  width: 50px;

  text-align: center;

  text-decoration: none;

  margin: 5px 2px;

}



.map-responsive{

  align-content: center;

  align-items: center;

  align-self: center;

  text-align: center;

}



.map-responsive iframe{

  float: center !important;

  width: 400px;

  height: 400px;

  max-width: 400px;

  max-height: 400px;

  width: 100%;

  height: 100%;

}



.info-contato{

  float: left;

}



.conteudo-esquerda{

  width: 100vw;

  height: 100vh;

  background: #6C7A89;

  display: flex;

  flex-direction: row;

  justify-content: center;

  align-items: center

}



.conteudo-direita{

 



  float:left;

  width: auto;

  min-height: 300px;

  max-width: 400px;

  padding-bottom: auto;

}



.shc {

    /*remove a margem das colunas e row*/

    margin: 0;

    padding: 0;

}



#eventos {

  height: 410px; /*fixa altura do elemento que fica direita*/

}



.jumbotron {

  border-radius: 0px;

}



.h1 small {

  font-size: 24px;

}



#form-contato{

  width: 100%;

  align-content: center;

  align-self: center;

  margin: 0 auto;

}



#form-contato div{

  width: 100%;

  align-content: center;

  margin: 0 auto;

}



.pdf{

  width: 400px;

  height: 500px;

}



@media screen and (max-width: 600px) {

  .pdf{

    width: auto;

    height: 500px;

  }

}

div.gallery {

  border: 1px solid #ccc;

}



div.gallery:hover {

  border: 1px solid #777;

}



div.gallery img {

  width: 100%;

  height: 350px;

}



div.desc {

  padding: 15px;

  text-align: center;

  font-weight: bold;

}



* {

  box-sizing: border-box;

}



.responsive .glr{

  padding: 0 6px;

  float: left;

  width: 24.99999%;

}



@media only screen and (max-width: 700px) {

  .responsive .glr{

    width: 49.99999%;

    margin: 6px 0;

  }

}



@media only screen and (max-width: 500px) {

  .responsive .glr{

    width: 100%;

  }

}



.clearfix:after {

  content: ""

;  display: table;

  clear: both;

}


.texto-ola{
  color: black !important;
}


.pt-3-half {
  padding-top: 1.4rem;
}

.table-hover-cells > tbody > tr > th:hover,
.table-hover-cells > tbody > tr > td:hover {
  background-color: #f5f5f5;
}

.table-hover-cells > tbody > tr > th.active:hover,
.table-hover-cells > tbody > tr > td.active:hover,
.table-hover-cells > tbody > tr.active > th:hover,
.table-hover-cells > tbody > tr.active > td:hover {
  background-color: #e8e8e8;
}

.table-hover.table-hover-cells > tbody > tr:hover > th:hover,
.table-hover.table-hover-cells > tbody > tr:hover > td:hover {
  background-color: #e8e8e8;
}

.table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
.table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
  background-color: #d8d8d8;
}

h1 > .divider:before,
h2 > .divider:before,
h3 > .divider:before,
h4 > .divider:before,
h5 > .divider:before,
h6 > .divider:before,
.h1 > .divider:before,
.h2 > .divider:before,
.h3 > .divider:before,
.h4 > .divider:before,
.h5 > .divider:before,
.h6 > .divider:before {
  color: #777;
  content: "\0223E\0020";
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.ashuashua input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.ashuashua{ position:relative}
.ashuashua:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.ashuashua:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " Selecione ou arraste para cá";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.dropdown-item{
  background: transparent !important;
}

.publicacoes{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#example_filter > label > input{
  width: 100% !important;
}
#example_filter{
  width: 100% !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.error {
  color: red;
  background-color: #acf;
}